Packages/ filter=lfs diff=lfs merge=lfs -text
Temp filter=lfs diff=lfs merge=lfs -text
UserSettings/ filter=lfs diff=lfs merge=lfs -text
Asse filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
Assets/NatureStarterKit2 filter=lfs diff=lfs merge=lfs -text
Assets/Prefabs filter=lfs diff=lfs merge=lfs -text
Assets/Standard[[:space:]]Assets filter=lfs diff=lfs merge=lfs -text
Assets/WorldSkies.meta filter=lfs diff=lfs merge=lfs -text
Assets/Materials filter=lfs diff=lfs merge=lfs -text
Assets/Resouces.meta filter=lfs diff=lfs merge=lfs -text
Assets/SimpleCloudSystem[[:space:]]by[[:space:]]RM filter=lfs diff=lfs merge=lfs -text
Assets/Standard[[:space:]]Assets.meta filter=lfs diff=lfs merge=lfs -text
Assets/WorldSkies filter=lfs diff=lfs merge=lfs -text
Assets/Resouces filter=lfs diff=lfs merge=lfs -text
Assets/New[[:space:]]Terrain.asset filter=lfs diff=lfs merge=lfs -text
Assets/CameraBuffers filter=lfs diff=lfs merge=lfs -text
Assets/Editor filter=lfs diff=lfs merge=lfs -text
Assets/Materials.meta filter=lfs diff=lfs merge=lfs -text
Assets/Model filter=lfs diff=lfs merge=lfs -text
Assets/NatureStarterKit2.meta filter=lfs diff=lfs merge=lfs -text
Assets/SimpleCloudSystem[[:space:]]by[[:space:]]RM.meta filter=lfs diff=lfs merge=lfs -text
Assets/SwarmTemplate filter=lfs diff=lfs merge=lfs -text
Assets/FurnishedCabin.meta filter=lfs diff=lfs merge=lfs -text
Assets/ML-Agents.meta filter=lfs diff=lfs merge=lfs -text
Assets/Model.meta filter=lfs diff=lfs merge=lfs -text
Assets/New[[:space:]]Terrain.asset.meta filter=lfs diff=lfs merge=lfs -text
Assets/SwarmTemplate.meta filter=lfs diff=lfs merge=lfs -text
Assets/CameraBuffers.meta filter=lfs diff=lfs merge=lfs -text
Assets/ML-Agents filter=lfs diff=lfs merge=lfs -text
Assets/Prefabs.meta filter=lfs diff=lfs merge=lfs -text
Assets/Editor.meta filter=lfs diff=lfs merge=lfs -text
Assets/FurnishedCabin filter=lfs diff=lfs merge=lfs -text
Assets/SampleScenes filter=lfs diff=lfs merge=lfs -text
Assets/SampleScenes.meta filter=lfs diff=lfs merge=lfs -text
Logs filter=lfs diff=lfs merge=lfs -text
Logs/AssetImportWorker0.log filter=lfs diff=lfs merge=lfs -text
Logs/AssetImportWorker0-prev.log filter=lfs diff=lfs merge=lfs -text
Logs/Packages-Update.log filter=lfs diff=lfs merge=lfs -text
Logs/shadercompiler-AssetImportWorker0.log filter=lfs diff=lfs merge=lfs -text
Logs/shadercompiler-UnityShaderCompiler0.log filter=lfs diff=lfs merge=lfs -text
ProjectSettings/EditorSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/GraphicsSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/QualitySettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/UnityConnectSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/VFXManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/VersionControlSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/XRSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/AudioManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/ClusterInputManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/DynamicsManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/EditorBuildSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/InputManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/Physics2DSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/BurstAotSettings_StandaloneLinux64.json filter=lfs diff=lfs merge=lfs -text
ProjectSettings/PresetManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/TagManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/ProjectVersion.txt filter=lfs diff=lfs merge=lfs -text
ProjectSettings/SceneTemplateSettings.json filter=lfs diff=lfs merge=lfs -text
ProjectSettings/CommonBurstAotSettings.json filter=lfs diff=lfs merge=lfs -text
ProjectSettings/MemorySettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/NavMeshAreas.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/PackageManagerSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/Packages filter=lfs diff=lfs merge=lfs -text
ProjectSettings/ProjectSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/TimeManager.asset filter=lfs diff=lfs merge=lfs -text
